* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url(fontes/DMSerifDisplay-Regular.ttf);
}

header {
    background-color: #0f142a;
    margin: -9px;
    text-align: center;
    align-items: center;
    display: flex;
}

header > img {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1vw;
    margin-bottom: 0.8vw;
}
header > a {
    color: white;
    text-decoration: none;
    font-family: 'DMSerifDisplay';
    margin: auto;
    display: inline-block;
    text-align: center;
    font-size: 2.4vw;
    margin: auto;
}